<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題だあー！！！！！</h1>


    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select date, give_for from crops where not (give_for = '自家消費');") %>
    <% date = [] %>

    <% result.each do |record| %>
      <% date << "売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result_false = connection.exec("select date, quality from crops where quality = false;") %>
    <% date = [] %>

    <% result_false.each do |record_false| %>
      <% date << "ゴーヤの品質：#{record_false["quality"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの品質の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= date.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
